h1{
    font-size: 60px;
    font-family: "Futura";
  }
  body{
    font-family: "futura light";
    background-color: rgb(228, 157, 77);
    color: rgb(219, 219, 219);
  
  }
  form{
    margin-left: 40px;
    font-size: 3vw;
  }
  #top h1{
    color:rgb(255,200,255);
    border: solid .5px white;
    border-radius: 10px;
  }
  a {
      color:aquamarine
